/* DEFAULT RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPO STYLES */
html {
    font-size: 10px;
}

* {
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
/* buttons */
    .btn {
        padding: 5px 10px;
        background: linear-gradient(0deg, #222 0%, #323232 50%);
        border: none;
        color: white;
        border-radius: 7px;
        margin-left: 3px;
    }

    footer button.btn {
        color: red;
        background: rgba(255, 255, 255, 0.3);
        padding: 0 10px;
        font-size: 1.8rem;
        border-radius: 0px;
    }

    /* spacing */
/* GENERAL */
/* metto un contenitore centrale perché full screen non mi piace :p */
.container {
    width: 70%;
    margin: 0 auto;
    background-color: black;
}



body {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.8rem;
}

header {
    text-align: right;
    padding: 8px 15px;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

footer ul {
    display: flex;
}

.footer_menu li {
    text-align: center;
    position: relative;
    margin-inline: 15px;
    padding-block: 3px;
    text-transform: capitalize;
}

.footer_menu li div {
    margin-top: 3px;
}

.arrow {
    position: absolute;
    left: 80%;
    top: 10px;
    font-weight: 100;
    border-radius: 4px;
    padding: 3px;
}

.arrow:hover {
    background-color: #444;
}

.footer_menu li:hover i:not(.arrow){
    color: #5af542;
}

